@model IEnumerable<blogsite.Models.Blog>

@{
    ViewData["Title"] = "Bloglar";
}

<h2>Bloglar</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@item.ImageUrl" alt="Varsayılan Görsel">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Content</p>
                    <a href="@Url.Action("Details", "Blog", new { id = item.Id })" class="btn btn-primary">Detayları Gör</a>
                    <p class="card-text mt-2">
                        <small class="text-muted">
                            Kategori: @(item.Category != null ? item.Category.Name : "Bilinmiyor")<br />
                            Yayınlanma Tarihi: @(item.CreatedAt.ToString("dd MMM yyyy"))<br />
                            Yazar: @(item.CreatedBy ?? "Bilinmiyor") <!-- Blog yazarı burada görünüyor -->
                        </small>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
